
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Stock Ticker Apps!</h1>
      </div>

      <h4>Last 10 Security Views</h4>
      <div id="map-canvas" style="width:100%;height:290px;"></div>

      <!-- Example row of columns -->
      <div class="row">
        
        <div class="span4">
          <h3>Today's Popular Securities</h3>
          <table class="table table-striped">
            <% @allSecurityViews.each do |security| %>
                <tr><td><%= link_to security.security.name+" ("+security.security.ticker.upcase+")", security.security %></td><td><%= security.views %></td></tr>
            <% end %>
          </table>
        </div>
        
        <div class="span4">
          <h3>Today's Popular Sectors</h3>
          <table class="table table-striped">
            <% @allSectorViews.each do |sector| %>
                <tr><td><%= link_to sector.name, company_sector_path(sector) %></td><td><%= sector.views %></td></tr>
            <% end %>
          </table>
          <h3>Today's Popular Industries</h3>
          <table class="table table-striped">
            <% @allIndustryViews.each do |industry| %>
                <tr><td><%= link_to industry.name, company_industry_path(industry) %></td><td><%= industry.views %></td></tr>
            <% end %>
          </table>
        </div>

        <div class="span4">
          <h3>Today's Popular Fund Types</h3>
          <table class="table table-striped">
            <% @allFundCategoryViews.each do |category| %>
                <tr><td><%= link_to category.name, fund_category_path(category) %></td><td><%= category.views %></td></tr>
            <% end %>
          </table>
        </div>

      </div>

      <hr>

    </div> <!-- /container -->


<script type="text/javascript">
$(document).ready(function($) {
  loadMaps();
});

function loadMaps() {
  google.load("maps", "3", {other_params:'libraries=visualization&sensor=false', "callback" : initialize});
  //google.load("visualization", "1");
  var map;
  google.maps.visualRefresh = true;
}

function initialize() {
  var usCenter = new google.maps.LatLng(39.8282, -98.5795);
  var mapOptions = {
    zoom: 4,
    center: usCenter,
    mapTypeId: google.maps.MapTypeId.ROADMAP,
    panControl: true,
    streetViewControl: true,
    overviewMapControl: true
  };
  map = new google.maps.Map(document.getElementById('map-canvas'),mapOptions);
  //var marker = new google.maps.Marker({
  //    position: usCenter,
  //    map: map
  //});

  var image = '/assets/chart.png';

  var myLatLng = usCenter;

<% @lastTenSecurityViews.each do |x| %>

  var contentString<%= x.id %> = '<%= x.security.name %>';

  var infowindow<%= x.id %> = new google.maps.InfoWindow({
      content: contentString<%= x.id %>
  });

  var viewMarker<%= x.id %> = new google.maps.Marker({
      position: new google.maps.LatLng(<%= x.lat %>,<%= x.lng %>),
      animation: google.maps.Animation.DROP,
      map: map,
      icon: image,
      title: "title"
  });

  google.maps.event.addListener(viewMarker<%= x.id %>, 'click', function() {
    infowindow.open(map,viewMarker<%= x.id %>);
  });  


<% end %>
  var contentString = 'asdf';

  var infowindow = new google.maps.InfoWindow({
      content: contentString
  });

  var viewMarker = new google.maps.Marker({
      position: myLatLng,
      animation: google.maps.Animation.DROP,
      map: map,
      icon: image,
      title: "title"
  });

  google.maps.event.addListener(viewMarker, 'click', function() {
    infowindow.open(map,viewMarker);
  });  


}






</script> 


