
      <!-- Main hero unit for a primary marketing message or call to action -->
      <h1>Stock Ticker Apps!</h1>
      <p class="lead">
        StockTickerApps.com let's you research and view information about stocks and mutual funds. We then display what securities are viewed by our visitors along with trends by security, sector and fund category. This data is kept anonymous and shows up to minute browsing information.
      </p>


      <div class="row">
        <div class="span9">
          <div id="map-canvas" style="width:100%;height:250px;"></div>
        </div>
        <div class="span3">
                  <div class="rectangle">
        <% if display_ads? %>
          <%= render :partial => 'shared/ad_rectangle' %>
        <% else %>
          <div class="ad-rectangle"></div>
        <% end %>
        </div>
      </div>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        
        <div class="span4">
          <h3>Recent Popular Securities</h3>
          <table class="table table-striped">
            <% @allSecurityViews.each do |security| %>
                <tr><td><%= link_to security.security.name+" ("+security.security.ticker.upcase+")", security.security %></td><td><%= security.views %></td></tr>
            <% end %>
          </table>
        </div>
        
        <div class="span4">
          <h3>Recent Popular Sectors</h3>
          <table class="table table-striped">
            <% @allSectorViews.each do |sector| %>
                <tr><td><%= link_to sector.name, company_sector_path(sector) %></td><td><%= sector.views %></td></tr>
            <% end %>
          </table>
          <h3>Recent Popular Industries</h3>
          <table class="table table-striped">
            <% @allIndustryViews.each do |industry| %>
                <tr><td><%= link_to industry.name, company_industry_path(industry) %></td><td><%= industry.views %></td></tr>
            <% end %>
          </table>
        </div>

        <div class="span4">
          <h3>Recent Popular Fund Types</h3>
          <table class="table table-striped">
            <% @allFundCategoryViews.each do |category| %>
                <tr><td><%= link_to category.name, fund_category_path(category) %></td><td><%= category.views %></td></tr>
            <% end %>
          </table>
        </div>

      </div>

      <hr>
    <div class="leaderboard">
    <div class="leaderboard">
    <% if display_ads? %>
      <%= render :partial => 'shared/ad_leaderboard' %>
    <% else %>
      <div class="ad-leaderboard"></div>
    <% end %>
    </div>
    </div>

    </div> <!-- /container -->


<script type="text/javascript">
$(document).ready(function($) {
  loadMaps();
});

function loadMaps() {
  google.load("maps", "3", {other_params:'libraries=visualization&sensor=false', "callback" : initialize});
  //google.load("visualization", "1");
  var map;
  google.maps.visualRefresh = true;
}

function initialize() {
  var usCenter = new google.maps.LatLng(39.8282, -98.5795);
  var mapOptions = {
    zoom: 4,
    center: usCenter,
    mapTypeId: google.maps.MapTypeId.ROADMAP,
    panControl: true,
    streetViewControl: true,
    overviewMapControl: true
  };
  map = new google.maps.Map(document.getElementById('map-canvas'),mapOptions);
  //var marker = new google.maps.Marker({
  //    position: usCenter,
  //    map: map
  //});

  var image = '/assets/chart.png';

  var myLatLng = usCenter;

<% @lastTenSecurityViews.each do |x| %>

  var contentString<%= x.id %> = "<b><a href=/security/<%=x.security.ticker%>><%= x.security.name %></a></b><br/>viewed at: <%= x.created_at.in_time_zone('Eastern Time (US & Canada)').strftime '%m/%d/%y %H:%M %Z'%>";

  var infowindow<%= x.id %> = new google.maps.InfoWindow({
      content: contentString<%= x.id %>
  });

  var viewMarker<%= x.id %> = new google.maps.Marker({
      position: new google.maps.LatLng(<%= x.lat %>,<%= x.lng %>),
      animation: google.maps.Animation.DROP,
      map: map,
      icon: image,
      title: "title"
  });

  google.maps.event.addListener(viewMarker<%= x.id %>, 'click', function() {
    infowindow<%= x.id %>.open(map,viewMarker<%= x.id %>);
  });  


<% end %>

}






</script> 


