<% if !@errors.nil? %>

<div class="row">
  <div class="span12 well">
    <%= @errors %></div>
</div>

<% else %>

<!-- outer row that has two columns - nav and content -->
<div class="row">
  <div class="span2 bs-docs-sidebar">
    <ul class="nav nav-list bs-docs-sidenav">
      <li><a href="#summary"><i class="icon-chevron-right"></i> Summary</a></li>
      <li><a href="#tweets"><i class="icon-chevron-right"></i> Tweets</a></li>
      <li><a href="#discussion"><i class="icon-chevron-right"></i> Discussion</a></li>
      <li><a href="#html-template"><i class="icon-chevron-right"></i> HTML template</a></li>
      <li><a href="#examples"><i class="icon-chevron-right"></i> Examples</a></li>
      <li><a href="#what-next"><i class="icon-chevron-right"></i> What next?</a></li>
    </ul>
  </div>

  <!-- right column wrapper -->
  <div class="span10">

    <section id="summary">

    <div class="row">
      <div class="span10">
  	     <h1><a href="http://www.google.com/search?q=<%=h @security.name %>&btnI=745" target="_blank"><%=h @security.name %></a> (<%=h @security.ticker %>)</h1>
      </div>
    </div>

    <div class="row">
      <!-- chart -->
      <div class="span7" style="height:375px;">
        <%= render "chart" %>
      </div>

      <!-- analytic data -->
      <div class="span3">
        <div class="well">
          <strong>Date Added:</strong> <%= @security.created_at.to_date %><br/>
          <strong>Total Views:</strong> <%= @security.ticker_views %><br/>
          <strong>Views in last week:</strong> <%= @security.ticker_views 7 %><br/>
          <strong>Views in last month:</strong> <%= @security.ticker_views 31 %><br/>
          <strong>Views in last year:</strong> <%= @security.ticker_views 365 %><br/>
        </div>
      </div>
    </div>
    <!-- end top row-->

    </section>
    
    <section id="tweets">

    <div class="row show-grid">
      <h4>Tweets & News</h4>

      <!-- geo loads -->
      <div class="span3">
        <div class="well">
        <%= @security.inspect() %>
        </div>
      </div>

      <!-- latest news -->
      <div class="span4">
        <div class="well">
          <h5>Latest News for <%= @security.ticker.upcase %></h5>
          <div id="latestNews">No news available for <%= @security.ticker %></div>
        </div>
      </div>

      <!-- latest tweets -->
      <div class="span3" >
        <div class="well">
          <h5>Latest Tweets for <%= @security.ticker.upcase %></h5>
          <div id="latestTweets">No tweets match <%= @security.ticker %></div>
        </div>
      </div>

    </div>
    <!-- end second row -->

    </section>
    
    <section id="discussion">
    <div class="row">

      <!-- geo loads -->
      <div class="span3">
         <h4>Geography of Views</h4>
      </div>
    
      <div class="span7">
        <h4>Discussions</h4>
        <div id="disqus_thread"></div>
      </div>

      <script type="text/javascript">
        var disqus_shortname = 'stocktickerapps';
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
      </script>
    </div>
    
    </section>
    <!-- end third row --> 

  </div>


<script type="text/javascript">

$(document).ready(function($) {
  $('#latestNews').FeedEk({
    FeedUrl : 'http://www.google.com/finance/company_news?q=<%= @security.ticker %>&output=rss',
    MaxCount : 15,
    ShowDesc : false,
    ShowPubDate:true,
    DescCharacterLimit:100,
    TitleLinkTarget:'_blank'
  });

  $('#latestTweets').FeedEk({
    FeedUrl : 'http://search.twitter.com/search.atom?q=%24<%= @security.ticker %>',
    MaxCount : 15,
    ShowDesc : false,
    ShowPubDate:true,
    DescCharacterLimit:100,
    TitleLinkTarget:'_blank'
  });

  $('#commentsLink').click(function () { $.getScript('http://disqus.com/forums/stocktickerapps/embed.js'); });

});

</script>

<% end %>