<% if !@errors.nil? %>

<div class="row">
  <div class="span12 well">
    <% @title = "some custom page title" %>
    <%= @errors %></div>
</div>

<% else %>
    
<% @title = @security.name %>

<!-- outer row that has two columns - nav and content -->
<div class="row">
  <div class="span2 bs-docs-sidebar">
    <ul class="nav nav-list bs-docs-sidenav">
      <li><a href="#summary"><i class="icon-chevron-right"></i> Summary</a></li>
      <li><a href="#tweets"><i class="icon-chevron-right"></i> Tweets & News</a></li>
      <li><a href="#examples"><i class="icon-chevron-right"></i> Viewer Trends</a></li>
      <li><a href="#html-template"><i class="icon-chevron-right"></i> Viewer Locations</a></li>
      <li><a href="#discussion"><i class="icon-chevron-right"></i> Discussion</a></li>
      <li><a href="#what-next"><i class="icon-chevron-right"></i> Links</a></li>
    </ul>
  </div>

  <!-- right column wrapper -->
  <div class="span10">

    <section id="summary">

    <div class="row">
      <div class="span10">
  	     <h3><a href="http://www.google.com/search?q=<%=h @security.name %>&btnI=745" target="_blank"><%=h @security.name %></a> (<%=h @security.ticker.upcase %>)</h3>
      </div>
    </div>

    <div class="row">
      <!-- chart -->
      <div class="span7" style="height:375px;">
        <%= render "chart" %>
      </div>

      <!-- analytic data -->
      <div class="span3">
        <div class="well">
          <p class="text-info"><strong>Security Views Details</strong></p>
          <strong>Total Views:</strong> <%= @security.ticker_views %><br/>
          <strong>Views in last week:</strong> <%= @security.ticker_views 7 %><br/>
          <strong>Views in last month:</strong> <%= @security.ticker_views 31 %><br/>
          <strong>Views in last year:</strong> <%= @security.ticker_views 365 %><br/>
          <br/>
          <% if @security.security_type == 'fund' %>
          <p class="text-info"><strong>Fund Details</strong></p>
            <strong>Fund Category:</strong> <%= link_to @security.fund_category.name, :controller => "fund_category", :action => "show", :id => @security.fund_category.id %><br/>
            <strong>Fund Family:</strong> <%= link_to @security.fund_family.name, :controller => "fund_family", :action => "show", :id => @security.fund_family.id %><br/>
          <% else %>
          <p class="text-info"><strong>Equity Details</strong></p>
            <strong>Industry:</strong> <%= link_to @security.company_industry.name, :controller => "company_industry", :action => "show", :id => @security.company_industry.id %><br/>
            <strong>Sector:</strong> <%= link_to @security.company_sector.name, :controller => "company_sector", :action => "show", :id => @security.company_sector.id %><br/>
          <% end %>
        </div>
      </div>
    </div>
    <!-- end top row-->

    </section>
    
    <section id="tweets">

    <div class="row show-grid">
      <div class="span10"><h4>Tweets & News</h4></div>

      <!-- latest news -->
      <div class="span5">
        <div class="well">
          <h5>Latest News for <%= @security.ticker.upcase %></h5>
          <div id="latestNews">No news available for <%= @security.ticker %></div>
        </div>
      </div>

      <!-- latest tweets -->
      <div class="span5" >
        <div class="well">
          <h5>Latest Tweets for <%= @security.ticker.upcase %></h5>
          <div id="latestTweets">No tweets match <%= @security.ticker %></div>
        </div>
      </div>

    </div>
    <!-- end second row -->

    </section>
    
    <section id="discussion">
    <div class="row">
    
      <div class="span10">
        <h4>Discussions</h4>
        <div id="disqus_thread"></div>
      </div>

      <script type="text/javascript">
        var disqus_shortname = 'stocktickerapps';
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
      </script>
    </div>
    
    </section>
    <!-- end third row --> 

  </div>


<script type="text/javascript">

$(document).ready(function($) {
  $('#latestNews').FeedEk({
    FeedUrl : 'http://www.google.com/finance/company_news?q=<%= @security.ticker %>&output=rss',
    MaxCount : 15,
    ShowDesc : false,
    ShowPubDate:true,
    DescCharacterLimit:100,
    TitleLinkTarget:'_blank'
  });

  $('#latestTweets').FeedEk({
    FeedUrl : 'http://search.twitter.com/search.atom?q=%24<%= @security.ticker %>',
    MaxCount : 15,
    ShowDesc : false,
    ShowPubDate:true,
    DescCharacterLimit:100,
    TitleLinkTarget:'_blank'
  });

  $('#commentsLink').click(function () { $.getScript('http://disqus.com/forums/stocktickerapps/embed.js'); });

});

</script>

<% end %>