

<div id="tickerDataWrapper">


<% if !@errors.nil? %>

<p><%= @errors %></p>

</div>

<% else %>

	<h1><a href="http://www.google.com/search?q=<%=h @security.name %>&btnI=745" target="_blank"><%=h @security.name %></a> (<%=h @security.ticker %>)</h1>

	<div id="widgetWrapper">

  <script src="http://charts.wikinvest.com/wikinvest/wikichart/javascript/scripts.php" type="text/javascript"></script>
	<div id="chartContainer">
   		<a href="http://get.adobe.com/flashplayer/"><img src="http://cdn.wikinvest.com/wikinvest/images/adobe_flash_logo.gif"/><br/>
        Flash Player 9 or higher is required to view the chart<br/><strong>Click here to download Flash Player now</strong></a>
	</div>

	<div id="socialLinks">

<!--<span class='st_sharethis_vcount' displayText='ShareThis'></span>
<span class='st_facebook_vcount' displayText='Facebook'></span>
<span class='st_twitter_vcount' displayText='Tweet'></span>
<span class='st_linkedin_vcount' displayText='LinkedIn'></span>
<span class='st_tumblr_vcount' displayText='Tumblr'></span>
<span class='st_email_vcount' displayText='Email'></span>
<span class='st_plusone_vcount' displayText='Google +1'></span>
<span class='st_fblike_vcount' displayText='Facebook Like'></span>
-->
  </div>
  <div class="reset"></div>
</div>

<script type="text/javascript">
	var d = new Date();
	var endDate = d.getDate() + '-' + (d.getMonth()+1) + '-' + (d.getFullYear());
	var startDate = d.getDate() + '-' + (d.getMonth()+1) + '-' + (d.getFullYear()-1);
	var embedCodeDate = d.getYear() + '-' + (d.getMonth()+1) + '-' + d.getDate();
	if (typeof(embedWikichart) != "undefined") {
		embedWikichart("http://charts.wikinvest.com/WikiChartMini.swf","chartContainer","470","250",{"embedCodeDate":embedCodeDate,"endDate":endDate,"startDate":startDate,"ticker":"<%=h @security.ticker %>","showAnnotations":"true","liveQuote":"true"},{});
	}
</script>

<strong>Date Added:</strong> <%= @security.created_at.to_date %><br/>
<strong>Total Views:</strong> <%= @security.ticker_views %><br/>
<strong>Views in last week:</strong> <%= @security.ticker_views 7 %><br/>
<strong>Views in last month:</strong> <%= @security.ticker_views 31 %><br/>
<strong>Views in last year:</strong> <%= @security.ticker_views 365 %><br/>
<br/>


<% if !@security_trends.nil? %>
<script type="text/javascript">

// Set a callback to run when the Google Visualization API is loaded.
//google.setOnLoadCallback(drawChart);
google.setOnLoadCallback(drawVisualization);

function drawVisualization() {
  // Create and populate the data table.
  var data = google.visualization.arrayToDataTable([
    ['x', 'Days'],
    ['100',<%=@security_trends[0] %>],
    ['90',<%=@security_trends[1] %>],
    ['80',<%=@security_trends[2] %>],
    ['70',<%=@security_trends[3] %>],
    ['60',<%=@security_trends[4] %>],
    ['50',<%=@security_trends[5] %>],
    ['40',<%=@security_trends[6] %>],
    ['30',<%=@security_trends[7] %>],
    ['20',<%=@security_trends[8] %>],
    ['10',<%=@security_trends[9] %>],
    ['1',<%=@security.percentage_views %>]
  ]);

  // Create and draw the visualization.
  new google.visualization.LineChart(document.getElementById('chart_div')).
      draw(data, {title:'Percentage of traffic over the last 100 days',curveType: "function",
                 width: 700, height: 300,
                 vAxis: {maxValue: 1}}
       );
}

</script>
<% end %>


<div id="chart_div" style="width:400; height:300"></div>

</p>


<div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'stocktickerapps'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    
    

<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" id="latestNewsLink" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        Latest News for <%=h @security.ticker %>
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse">
      <div class="accordion-inner" id="latestNews">
        Please wait while the news loads.
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" id="latestTweetsLink" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
				Latest Tweets for <%=h @security.ticker %>
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse" >
      <div class="accordion-inner" id="latestTweets">
        Please wait while the tweets load.
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" id="latestBlogsLink" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
				Latest Blog Discussions for <%=h @security.ticker %>
      </a>
    </div>
    <div id="collapseThree" class="accordion-body collapse" >
      <div class="accordion-inner" id="latestBlogs">
        Please wait while the blog links load.
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" id="linksLink" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
				External Resources for <%=h @security.ticker %>
      </a>
    </div>
    <div id="collapseFour" class="accordion-body collapse" >
      <div class="accordion-inner" id="latestBlogs">
      	<div class="links">
						<a href="http://investing.businessweek.com/research/stocks/snapshot/snapshot.asp?symbol=<%=h @security.ticker %>">Businessweek</a><br/>
    	    	<a href="http://money.cnn.com/quote/quote.html?symb=<%=h @security.ticker %>">CNN Money</a><br/>
						<a href="http://google.brand.edgar-online.com/?sym=<%=h @security.ticker %>">Edgar (SEC Filings)</a><br/>
	        	<a href="http://finapps.forbes.com/finapps/jsp/finance/compinfo/CIAtAGlance.jsp?tkr=<%=h @security.ticker %>">Forbes</a><br/>
		        <a href="http://www.google.com/finance?client=ob&q=<%=h @security.ticker %>">Google Finance</a><br/>
						<a href="http://quote.morningstar.com/stock/s.aspx?t=<%=h @security.ticker %>">Morningstar</a><br/>
    		    <a href="http://caps.fool.com/Ticker/<%=h @security.ticker %>.aspx">The Motley Fool</a>
			</div>
    	    <div class="links">
        		<a href="http://moneycentral.msn.com/detail/stock_quote?Symbol=<%=h @security.ticker %>">MSN Money </a><br/>
						<a href="http://moneycentral.msn.com/ownership?Symbol=<%=h @security.ticker %>">MSN Money Major Holders</a><br/>
	    			<a href="http://www.reuters.com/finance/stocks/overview?rpc=66&symbol=<%=h @security.ticker %>">Reuters</a><br/>
	    	    <a href="http://seekingalpha.com/symbol/<%=h @security.ticker %>">Seeking Alpha</a><br/>
    	    	<a href="http://online.wsj.com/public/quotes/main.html?symbol=<%=h @security.ticker %>">The Wall Street Journal</a><br/>
	    	    <a href="http://finance.yahoo.com/q?d=t&s=<%=h @security.ticker %>">Yahoo Finance</a><br/>
						<a href="http://finance.yahoo.com/q/rr?s=<%=h @security.ticker %>">Yahoo Research Reports</a>
	        </div>
    	    <div class="reset"></div>
	    </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" id="commentsLink" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
				Stock Ticker App Comments on <%=h @security.ticker %>
      </a>
    </div>
    <div id="collapseFive" class="accordion-body" >
      <div class="accordion-inner" id="latestComments">
			<script type="text/javascript">  var disqus_developer = true; </script> 
	     <div id="disqus_thread"></div>
			<noscript><a href="http://disqus.com/forums/stocktickerapps/?url=ref">View the discussion thread.</a></noscript>
      </div>
    </div>
  </div>
</div>


<div id="sidebar">
</div>

<div id="googleLogoWrapper" style="display:none;">
	<div id="googleFinanceLogo">
		<span>Data courtesy of:</span>
		<a href="http://www.google.com/finance/"><img src="http://www.google.com/finance/s/FqegrhrjhFw/images/logo_us.gif" width="190" height="40" /></a>
	</div>
</div>

<script type="text/javascript">
$(document).ready(function($) {
	//$("#accordion").accordion({ collapsible:true,active:false,autoHeight:false });
	$('#fdbk_tab').click(function () { $('#chartContainer').hide(); });
	$('#fdbk_close').click(function () { $('#chartContainer').show(); });

  $('#latestNewsLink').click(function () { $('#latestNews').load('/security/loadGoogleNews/<%= @security.ticker %>', function() { $("a[href^='http']").attr('target','_blank'); }); });
  $('#latestBlogsLink').click(function () { $('#latestBlogs').load('/security/loadGoogleBlog/<%= @security.name %>', function() { $("a[href^='http']").attr('target','_blank'); }); });
  $('#latestTweetsLink').click(function () { $('#latestTweets').load('/security/loadTwitterFeed/<%= @security.ticker %>', function() { $("a[href^='http']").attr('target','_blank'); }); });
  $('#commentsLink').click(function () { $.getScript('http://disqus.com/forums/stocktickerapps/embed.js'); });

$('#latestTweetsLink').click();

});

</script>


	<ul id="tweets"> </ul>


<% end %>