<% if !@errors.nil? %>

<div class="row">
  <div class="span12 well">
    <% @title = "some custom page title" %>
    <%= @errors %>
  </div>
</div>

<% else %>
    
<% @title = @security.name %>

<!-- outer row that has two columns - nav and content -->
<div class="row">
  <div class="span2 sta-sidebar">
    <ul class="nav nav-list bs-docs-sidenav">
      <li><a href="#summary"><i class="icon-chevron-right"></i> Summary</a></li>
      <li><a href="#tweets"><i class="icon-chevron-right"></i> Tweets & News</a></li>
      <li><a href="#trends"><i class="icon-chevron-right"></i> Viewer Trends</a></li>
      <li><a href="#locations"><i class="icon-chevron-right"></i> Viewer Locations</a></li>
      <li><a href="#discussion"><i class="icon-chevron-right"></i> Discussion</a></li>
    </ul>
  </div>

  <!-- right column wrapper -->
  <div class="span10">

    <section id="summary">

    <div class="row">
      <div class="span10">
  	     <h3><a href="http://www.google.com/search?q=<%=h @security.name %>&btnI=745" target="_blank"><%=h @security.name %></a> (<%=h @security.ticker.upcase %>)</h3>
      </div>
    </div>

    <div class="row">
      <!-- chart -->
      <div class="span7" style="height:375px;">
        <%= render "chart" %>
      </div>

      <!-- analytic data -->
      <div class="span3">
        <div class="well">
          <p class="text-info"><strong>Security Views Details</strong></p>
          <strong>Total Views:</strong> <%= @security.ticker_views %><br/>
          <strong>Views in last week:</strong> <%= @security.ticker_views 7 %><br/>
          <strong>Views in last month:</strong> <%= @security.ticker_views 31 %><br/>
          <strong>Views in last year:</strong> <%= @security.ticker_views 365 %><br/>
          <br/>
          <% if @security.security_type == 'fund' %>
          <p class="text-info"><strong>Fund Details</strong></p>
            <% if !@security.fund_category.nil? %>
            <strong>Fund Category:</strong> <%= link_to @security.fund_category.name, :controller => "fund_category", :action => "show", :id => @security.fund_category.id %><br/>
            <% end %>
            <% if !@security.fund_family.nil? %>
            <strong>Fund Family:</strong> <%= link_to @security.fund_family.name, :controller => "fund_family", :action => "show", :id => @security.fund_family.id %><br/>
            <% end %>
          <% else %>
          <p class="text-info"><strong>Equity Details</strong></p>
            <% if !@security.company_industry.nil? %>
            <strong>Industry:</strong> <%= link_to @security.company_industry.name, :controller => "company_industry", :action => "show", :id => @security.company_industry.id %><br/>
            <% end %>
            <% if !@security.company_sector.nil? %>
            <strong>Sector:</strong> <%= link_to @security.company_sector.name, :controller => "company_sector", :action => "show", :id => @security.company_sector.id %><br/>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <!-- end top row-->

    </section>
    
    <section id="tweets">

    <div class="row show-grid">
      <div class="span10"><h4>Tweets & News</h4></div>

      <!-- latest news -->
      <div class="span5">
        <div class="well">
          <h5>Latest News for <%= @security.ticker.upcase %></h5>
          <div id="latestNews">No news available for <%= @security.ticker %></div>
        </div>
      </div>

      <!-- latest tweets -->
      <div class="span5" >
        <div class="well">
          <h5>Latest Tweets for <%= @security.ticker.upcase %></h5>
          <div id="latestTweets">No tweets match <%= @security.ticker %></div>
        </div>
      </div>

    </div>
    <!-- end second row -->

    </section>
    
    <section id="trends">
    <div class="row show-grid">
    
      <div class="span10">
        <h4>Viewer Trends</h4>
        Here's the content for the viewer trends
        <div id="chart_div"></div>

      </div>

    </div>
    </section>
    

    <section id="locations">
    <div class="row">
    
      <div class="span10">
        <h4>Viewer Locations</h4>
        Here's the view locations.
      
<div id="map-canvas" style="width:100%;height:290px;"></div>

      </div>

    </div>
    </section>


    <section id="discussion">
    <div class="row">
    
      <div class="span10">
        <h4>Discussions</h4>
        <div id="disqus_thread"></div>
      </div>

    </div>
    </section>

  </div>

</div>

<script type="text/javascript">

  google.load('visualization', '1', {'packages':['corechart']});
  google.setOnLoadCallback(drawChart);

$(document).ready(function($) {
  $('#latestNews').FeedEk({
    FeedUrl : 'http://www.google.com/finance/company_news?q=<%= @security.ticker %>&output=rss',
    MaxCount : 15,
    ShowDesc : false,
    ShowPubDate:true,
    DescCharacterLimit:100,
    TitleLinkTarget:'_blank'
  });

  $('#latestTweets').FeedEk({
    FeedUrl : 'http://search.twitter.com/search.atom?q=%24<%= @security.ticker %>',
    MaxCount : 15,
    ShowDesc : false,
    ShowPubDate:true,
    DescCharacterLimit:100,
    TitleLinkTarget:'_blank'
  });

  var disqus_shortname = 'stocktickerapps';
    (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();

  loadMaps();

  //var options = {packages: ['corechart'], callback : ""};
  //google.load('visualization', '1', options);

});


function loadMaps() {
  google.load("maps", "3", {other_params:'libraries=visualization&sensor=false', "callback" : initialize});
  //google.load("visualization", "1");
  var map;
  google.maps.visualRefresh = true;
}

function initialize() {
  var usCenter = new google.maps.LatLng(39.8282, -98.5795);
  var mapOptions = {
    zoom: 4,
    center: usCenter,
    mapTypeId: google.maps.MapTypeId.ROADMAP,
    panControl: true,
    streetViewControl: true,
    overviewMapControl: true
  };
  map = new google.maps.Map(document.getElementById('map-canvas'),mapOptions);
  var marker = new google.maps.Marker({
      position: usCenter,
      map: map
  });

  heatMap();
}

function heatMap() {

/* Data points defined as an array of LatLng objects */
var heatmapData = [
  <% if !@security_views.nil? %>
    <% @security_views.each do |view| %>
      <% if !view.lat.nil? && !view.lng.nil? %>
        new google.maps.LatLng(<%= view.lat %>, <%= view.lng %>),
      <% end %>
    <% end %>
  <% end %>
  ];
  var heatmap = new google.maps.visualization.HeatmapLayer({
    data: heatmapData
  });
  heatmap.setMap(map);

}


//google.setOnLoadCallback(drawChart);
function drawChart() {
  var data = google.visualization.arrayToDataTable([
    ['Days Ago', 'Views'],
    <% i = 100 %>
    <% @security_trends.each do |x| %>
      [<%= i  %>,<%= x %>],
      <% i -= 10 %>
    <% end %>
    ]);

  var options = {
    title: 'Percentage of views for <%= @security.name %> across all views over the last 100 days',
    hAxis: {title: 'Days Ago'},
    vAxis: {title: 'Percentage of Security Views'},
    legend: 'none',
    //trendlines: { 0: {} }    // Draw a trendline for data series 0.
 trendlines: {
      0: {
        color: 'purple',
        lineWidth: 10,
        opacity: 0.2,
        visibleInLegend: true,
        //type: 'exponential',
      }
    }
  };

  var chart = new google.visualization.ScatterChart(document.getElementById('chart_div'));
  chart.draw(data, options);
}

</script> 

<% end %>