
<h2>Views of Securities in the <%= @industry.name %> Industry</h2>

<div class="row">
  <div class="span6">

	<h3>Today's popular views</h3>
  <table class="table table-striped">
  <% @todaysIndustryViews.each do |industry| %>
    <tr><td><%= link_to industry.security.name+" ("+industry.security.ticker.upcase+")", security_path(industry.security) %></td>
      <td><div class="text-right"><%= @todaysIndustryViews.count[industry.security_id] %> total views</div></td></tr>
  <% end %>
  </table>


	<h3>This week's popular views</h3>
  <table class="table table-striped">
  <% @thisWeeksIndustryViews.each do |industry| %>
    <tr><td><%= link_to industry.security.name+" ("+industry.security.ticker.upcase+")", security_path(industry.security) %></td>
      <td><div class="text-right"><%= @thisWeeksIndustryViews.count[industry.security_id] %> total views</div></td></tr>
  <% end %>
  </table>


	<h3>All time popular views</h3>
  <table class="table table-striped">
  <% @allIndustryViews.each do |industry| %>
    <tr><td><%= link_to industry.security.name+" ("+industry.security.ticker.upcase+")", security_path(industry.security) %></td>
      <td><div class="text-right"><%= @allIndustryViews.count[industry.security_id] %> total views</div></td></tr>
  <% end %>
  </table>

  </div>
  <div class="span6">
    Right Column
  </div>

</div>