<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>stocktickerapps.com</title>
<meta http-equiv="Content-language" content="en-US" />
<meta http-equiv="Description" content="" />
<meta http-equiv="Keywords" content="" />
<link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon" />

<%= stylesheet_link_tag "application", media: "all" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tag %>

<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "ur-e79d9e1-f51c-1414-1e26-3fbda98a2d9"}); </script>


<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
   
// Load the Visualization API and the piechart package.
google.load('visualization', '1.0', {'packages':['corechart']});
     
// Callback that creates and populates a data table, 
// instantiates the pie chart, passes in the data and
// draws it.
function drawChart() {
  // Create the data table.
  var data = new google.visualization.DataTable();
  data.addColumn('string', 'Topping');
  data.addColumn('number', 'Slices');
  data.addRows([
   ['Mushrooms', 3],
   ['Onions', 1],
   ['Olives', 1], 
   ['Zucchini', 1],
   ['Pepperoni', 2]
  ]);

  // Set chart options
  var options = {'title':'How Much Pizza I Ate Last Night','width':400,'height':300};

  // Instantiate and draw our chart, passing in some options.
  var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
  chart.draw(data, options);
}
</script>
</head>
<body>
    <header class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
           <a href="/"><%= image_tag('logo.jpg') %></a>
Enter Symbol:
  <%= text_field_tag('search_symbol') %>
  <%= button_tag("Go",:class => 'button',:id => 'search_button') %>
          <nav>
            <ul class="nav pull-right">
              <li><%= link_to "About Us",    '#' %></li>
              <li><%= link_to "Contact",    '#' %></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>

<script type="text/javascript" charset="utf-8">
  var is_ssl = ("https:" == document.location.protocol);
  var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
  document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
</script>

<script type="text/javascript" charset="utf-8">
  var feedback_widget_options = {};
  feedback_widget_options.display = "overlay";  
  feedback_widget_options.company = "stock_ticker_apps";
  feedback_widget_options.placement = "right";
  feedback_widget_options.color = "#415b81";
  feedback_widget_options.style = "idea";

  var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
</script>

<script type="text/javascript">
//var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
//document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
//var pageTracker = _gat._getTracker("UA-15248080-1");
//pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>

