<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>stocktickerapps.com</title>

<meta http-equiv="Content-language" content="en-US" />
<meta http-equiv="Description" content="" />
<meta http-equiv="Keywords" content="" />

<%= stylesheet_link_tag "application", media: "all" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tag %>

<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "ur-e79d9e1-f51c-1414-1e26-3fbda98a2d9"}); </script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJ40GKpiEJ_E7xILKULwnv5JzcO4X9tMM&sensor=false">
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">google.load('visualization', '1.0', {'packages':['corechart']});</script>

</head>
<body data-spy="scroll" data-target=".bs-docs-sidebar">

<<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">StockTickerApps</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Movement <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Stocks</a></li>
              <li><a href="#">Funds</a></li>
              <li><a href="#">Sectors</a></li>
            </ul>
          </li>
        </ul>
        <form class="navbar-form pull-right" onsubmit="return false;">
          <%= text_field_tag('search_symbol',nil,:class => 'input-medium search-query',:placeholder => "Symbol") %>
          <%= button_tag("Go",:type => 'button',:class => 'btn btn-primary',:id => 'search_button') %>
        </form>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<div id="wrap">

  <div class="container">
    <%= yield %>
  </div>

  <div id="footer">
    <div class="container">
      <p class="muted credit">Example courtesy <a href="http://martinbean.co.uk">Martin Bean</a> and <a href="http://ryanfait.com/sticky-footer/">Ryan Fait</a>.</p>
    </div>
  </div>

</div>

<script type="text/javascript" charset="utf-8">
  var is_ssl = ("https:" == document.location.protocol);
  var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
  document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
</script>

<script type="text/javascript" charset="utf-8">
  var feedback_widget_options = {};
  feedback_widget_options.display = "overlay";  
  feedback_widget_options.company = "stock_ticker_apps";
  feedback_widget_options.placement = "right";
  feedback_widget_options.color = "#0044cc";
  feedback_widget_options.style = "idea";

  var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
</script>

</body>
</html>

