<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>stocktickerapps.com</title>
<meta http-equiv="Content-language" content="en-US" />
<meta http-equiv="Description" content="" />
<meta http-equiv="Keywords" content="" />
<link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon" />

<%= stylesheet_link_tag "application", media: "all" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tag %>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "ur-e79d9e1-f51c-1414-1e26-3fbda98a2d9"}); </script>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
   
// Load the Visualization API and the piechart package.
google.load('visualization', '1.0', {'packages':['corechart']});
     
</script>
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">StockTickerApps</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Movement <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Stocks</a></li>
                  <li><a href="#">Funds</a></li>
                  <li><a href="#">Sectors</a></li>
                </ul>
              </li>
            </ul>
            <form class="navbar-form pull-right" onsubmit="return false;">
  <%= text_field_tag('search_symbol',nil,:class => 'input-medium search-query',:placeholder => "Symbol") %>
  <%= button_tag("Go",:type => 'button',:class => 'btn btn-primary',:id => 'search_button') %>
            </form>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <%= yield %>
    </div>

<script type="text/javascript" charset="utf-8">
  var is_ssl = ("https:" == document.location.protocol);
  var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
  document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
</script>

<script type="text/javascript" charset="utf-8">
  var feedback_widget_options = {};
  feedback_widget_options.display = "overlay";  
  feedback_widget_options.company = "stock_ticker_apps";
  feedback_widget_options.placement = "right";
  feedback_widget_options.color = "#0044cc";
  feedback_widget_options.style = "idea";

  var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
</script>

<script type="text/javascript">
//var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
//document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
//var pageTracker = _gat._getTracker("UA-15248080-1");
//pageTracker._trackPageview();
} catch(err) {}</script>


    <div id="yourinfo"></div>
    <script type="text/javascript">
            visitor = google.loader.ClientLocation;
            visitor_lat = google.loader.ClientLocation.latitude;
            visitor_lon = google.loader.ClientLocation.longitude;
            visitor_city = google.loader.ClientLocation.address.city;
            visitor_region = google.loader.ClientLocation.address.region;
            visitor_country = google.loader.ClientLocation.address.country;
            visitor_countrycode = google.loader.ClientLocation.address.country_code;
console.log(visitor);
            document.getElementById('yourinfo').innerHTML = visitor + '<p>Lat/Lon: ' + visitor_lat + ' / ' + visitor_lon + '</p><p>Location: ' + visitor_city + ', ' + visitor_region + ', ' + visitor_country + ' (' + visitor_countrycode + ')</p>';
    </script>

<div id="map_canvas" />
<script type='text/javascript' src='https://www.google.com/jsapi'></script>
  <script type='text/javascript'>
   google.load('visualization', '1', {'packages': ['geomap']});
   google.setOnLoadCallback(drawMap);

    function drawMap() {
      var data = google.visualization.arrayToDataTable([
        ['City', 'Popularity'],
        ['New York', 200],
        ['Boston', 300],
        ['Miami', 400],
        ['Chicago', 500],
        ['Los Angeles', 600],
        ['Houston', 700],
        ['Trumbull',1000],
        ['Brookfield, CT',100]
      ]);

      var options = {};
      options['region'] = 'US';
      options['colors'] = [0xFF8747, 0xFFB581, 0xc06000]; //orange colors
      options['dataMode'] = 'markers';

      var container = document.getElementById('map_canvas');
      var geomap = new google.visualization.GeoMap(container);
      geomap.draw(data, options);
    };

  </script>

      <footer>
        <p>&copy; Company 2012</p>
      </footer>


</body>
</html>

